main{
    display: flex;
    height: 100vh;
}

.list{
    width: 100%;
    background-color: rgb(236, 236, 236);
    border: 1px solid black;

    h1{
        padding: 20px;
        font-size: 1.5rem;
    }
}